scrapers/dictionary_scraper/errored_words.json filter=lfs diff=lfs merge=lfs -text
scrapers/dictionary_scraper/dictionary.json filter=lfs diff=lfs merge=lfs -text
backend/db.sqlite3 filter=lfs diff=lfs merge=lfs -text
